<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre | Login</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/e6f6cca573.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="home__header">
        <div class="home__header__parte-superior">
            <div class="home__header__logo">
                <img src="/images/logo-mercado-liebre.svg" alt="logo">
            </div>
            <div class="home__header__buscador">
                <form action="">
                    <input type="text" name="busquedaproductos" placeholder="Buscar productos, marcas">
                    <button><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
            <p class="home__header__cuotas"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en coutas y sin
                tarjeta de
                crédito</p>
        </div>

        <nav class="home__header__nav">
            <ul class="home__header__nav--menu">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul class="home__header__nav--user">
                <li><a href="">Creá tu cuenta <i class="fa-regular fa-id-card"></i></a></li>
                <li><a href="">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </nav>
        <div class="home__header__burger--menu">
            <button><i class="fas fa-bars"></i></button>
        </div>
        <div class="home__main--banner">
            <img src="/images/img-home-banner.jpg" alt="banner">
        </div>
    </header>
    <main class="login">
        <form action="/" method="POST" class="form">
            <div class="form__div">
                <h4>Nombre de usuario</h4>
                <input type="text" name="user" placeholder="Nombre de usuario">
            </div>
            <div class="form__div">
                <h4>Contraseña</h4>
                <input type="password" name="pass" placeholder="Contraseña">
            </div>
            <div class="form__div__button--login">
                <button type="submit">Enviar</button>
            </div>
        </form>
    </main>
    <footer class="home__footer">
        <section class="home__footer__section">
            <article class="home__footer__section__article">
                <div class="home__footer__section__article--icon">
                    <i class="fa-solid fa-credit-card"></i>
                </div>
                <h4>Pagá con tarjeta o en efectivo</h4>
                <p>
                    Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!
                </p>
            </article>
            <article class="home__footer__section__article">
                <div class="home__footer__section__article--icon">
                    <i class="fa-solid fa-gift"></i>
                </div>
                <h4>Envío gratis desde los $ 2.500</h4>
                <p>
                    Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.
                </p>
            </article>
            <article class="home__footer__section__article">
                <div class="home__footer__section__article--icon">
                    <i class="fa-solid fa-user-shield"></i>
                </div>
                <h4>Seguridad, de principio a fin</h4>
                <p>
                    ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.
                </p>
            </article>
            <p class="home__footer__section--copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>

    </footer>
</body>

</html>