:root{
    --colorAmarillo : #EAC926;
    --colorAzul : #03264C;
    --colorCeleste : #1259c3;
    --colorGrisOscuro : #666;
    --colorGrisClaro : #ebebeb;
    --colorVerde : #39b54a;
    --tipografiaGeneral : 'Roboto';
    --sizeCuerpo : 12px;
    --sizeTitulares : 24px;
    --sizePrecios : 18px;
    --sizeDescuentos : 16px;
    --sizeDescripciones : 16px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--tipografiaGeneral);
    background-color: var(--colorGrisClaro);
}

h3 {
    font-size: var(--sizeTitulares);
}

h4 {
    font-size: var(--sizeDescripciones);
}

p {
    font-size: var(--sizeCuerpo);
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style: none;
    font-size: var(--sizeCuerpo);
}

header {
    background-color: var(--colorAmarillo);
}
