/* HEADER */

.home__header {
    padding: 25px 0 0;
}

.home__header__parte-superior {
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
    align-items: center;
}

.home__header__logo, .home__header__buscador {
    width: 50%;
    
}

.home__header__buscador button {
    padding: 3px;
}

.home__header__buscador input {
    width: 80%;
    padding: 5px 0;
}

.home__header__cuotas {
    text-align: center;
    font-size: var(--sizeCuerpo);
    margin: 10px 0 20px;
}

.home__header__nav {
    display: none;
    font-size: var(--sizeCuerpo);
    margin-bottom: 20px;
}

.home__header__burger--menu {
    text-align: center;
    padding-bottom: 10px
}

.home__header__burger--menu button {
    color: #fff;
    background-color: var(--colorCeleste);
    width: 40px;
    height: 40px;
    font-size: 20px;
    border-radius: 15%;
}



/* MAIN */

.home__main--banner img {
    width: 100%;
}

.home__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 90%;
}

h3 {
    color: var(--colorGrisOscuro);
    margin: 20px 0;
}

.home__main__section--ultima-visita article,
.home__main__section--ofertas article {
    display: flex;
    flex-direction: column;
    background: white;
    margin-bottom: 10px;
    width: 300px;
}

.home__main__section__article img {
    width: 100%;
}

.home__main__section__article--info {
    width: 100%;
    padding: 15px;
    border-top: 1px solid var(--colorGrisClaro);
    display: flex;
    flex-wrap: wrap;
    position: relative;
    align-items: baseline;
}

/* {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
} */

.home__main__section__article--info i {
    display: block;
    font-size: 16px;
    color: var(--colorVerde);
    width: 30px;
    height: 30px;
    border: 1px solid var(--colorVerde);
    background-color: #fff;
    border-radius: 50%;
    padding: 5px;
    position: absolute;
    right: 20px;
    top: -15px;

}

.home__main__section--precio {
    font-size: 18px;
    width: 30%;
}

.home__main__section--descuento {
    color: var(--colorVerde);
    font-weight: normal;
    width: 70%;
}

.home__main__section--descripcion {
    display: none;
    color: var(--colorGrisOscuro);
    font-weight: normal;
}

@media (min-width: 768px) {

    /* HEADER */

    .home__header__logo, .home__header__buscador, .home__header__cuotas {
        width: 33%;
    }

    /* MAIN */

    .home__main__section--ultima-visita article,
    .home__main__section--ofertas article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 45%;
    }

    .home__main__section--productos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    .home__main__section--descripcion {
        display: inline-block;
    }

    .home__header__nav {
        display: inline-block;
    }

    .home__header__burger--menu {
        display: none;
    }

}


.home__main__section--precio {
    font-size: var(--sizePrecios);
}

.home__main__section--descuento {
    font-size: var(--sizeDescuentos);
}


/* FOOTER */

.home__footer__section {
    margin: 0 0 20px;
}

.home__footer__section__article {
    margin: 50px 35px 0;
    text-align: center;
}

.home__footer__section__article--icon {
    color: var(--colorCeleste);
    font-size: 2em;
    margin-bottom: 10px;
}

.home__footer__section--copyright {
    padding-left: 15px;
    margin-top: 40px;
}

@media (min-width: 1024px) {
    .home__main__section--ultima-visita article,
    .home__main__section--ofertas article {
        width: 22%;
    }

    .home__main__section--precio,
    .home__main__section--descuento {
        width: 50%;
    }

}