/* HEADER */

.home__header {
    padding: 25px 0 0;
}

.home__header__parte-superior {
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
    align-items: center;
}

.home__header__logo, .home__header__buscador {
    width: 50%;
    
}

.home__header__buscador button {
    padding: 3px;
}

.home__header__buscador input {
    width: 80%;
    padding: 5px 0;
}

.home__header__cuotas {
    text-align: center;
    font-size: var(--sizeCuerpo);
    margin: 10px 0 20px;
}

.home__header__nav {
    display: none;
    font-size: var(--sizeCuerpo);
    margin-bottom: 20px;
}

.home__header__burger--menu {
    text-align: center;
    padding-bottom: 10px
}

.home__header__burger--menu button {
    color: #fff;
    background-color: var(--colorCeleste);
    width: 40px;
    height: 40px;
    font-size: 20px;
    border-radius: 15%;
}



/* MAIN */

.home__main--banner img {
    width: 100%;
}

.home__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 90%;
}

h3 {
    color: var(--colorGrisOscuro);
    margin: 20px 0;
}

.home__main__section--ultima-visita article,
.home__main__section--ofertas article {
    display: flex;
    flex-direction: column;
    background: white;
    margin-bottom: 10px;
    width: 300px;
}

.home__main__section__article img {
    width: 100%;
}

.home__main__section__article--info {
    width: 100%;
    padding: 15px;
    border-top: 1px solid var(--colorGrisClaro);
    display: flex;
    flex-wrap: wrap;
    position: relative;
    align-items: baseline;
}




.home__main__section__article--info i:hover{
    transform: rotate(360deg);
    }

.home__main__section__article--info i {
    display: block;
    font-size: 16px;
    color: var(--colorVerde);
    width: 30px;
    height: 30px;
    border: 1px solid var(--colorVerde);
    background-color: #fff;
    border-radius: 50%;
    padding: 5px;
    position: absolute;
    right: 20px;
    top: -15px;
    transition: all 1s;

}

.home__main__section__article--info h4{
    width: 100%;
    height: 0px;
    overflow: hidden;
}
.home__main__section__article--info:hover h4{
    height: 40px;
    padding: 10px 0px;
    color: var(--colorGrisOscuro);
    transition: all 1s;
}

.home__main__section--precio {
    font-size: 18px;
    width: 30%;
}

.home__main__section--descuento {
    color: var(--colorVerde);
    font-weight: normal;
    width: 70%;
}

.home__main__section--descripcion {
    display: none;
    color: var(--colorGrisOscuro);
    font-weight: normal;
}


.home__main__section--precio {
    font-size: var(--sizePrecios);
}

.home__main__section--descuento {
    font-size: var(--sizeDescuentos);
}


/* FOOTER */

.home__footer__section {
    width: 100%;
    margin: 0 0 20px;
}

.home__footer__section__article {
    margin: 20px;
    text-align: center;
}

.home__footer__section__article--icon {
    color: var(--colorCeleste);
    font-size: 2em;
    margin-bottom: 10px;
}

.home__footer__section--copyright {
    padding-left: 15px;
    margin-top: 40px;
    text-align: center;
    margin-bottom: 15px;
}


@media (min-width: 768px) {

    /* HEADER */

    .home__header__logo, .home__header__buscador, .home__header__cuotas {
        width: 33%;
    }

    .home__header__nav {
        display: flex;
        justify-content: space-around;
    }

    .home__header__nav--menu, .home__header__nav--user {
        display: flex;
        gap: 30px;
    }
    

    .home__header__burger--menu {
        display: none;
    }

    /* MAIN */

    .home__main__section__article {
        width: 45%;
        height: 400px;
    }

    .home__main__section__article:hover{
        box-shadow: 5px 5px 10px rgb(100, 100, 100);
    }

    .home__main__section__article--info h4{
        display: inline;
        line-height: 30px;
        width: 100%;
    }

    .home__main__section--productos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    .home__main__section--descripcion {
        display: inline-block;
    }

}

    /* FOOTER */
    
    .home__footer__section {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
}

    .home__footer__section__article {
        width: 30%;
        margin: 20px 10px;
    }

    .home__footer__section__article h4 {
        margin: 8px 0px;
    }


@media (min-width: 1024px) {
    .home__main__section__article {
        width: 21%;
        height: 390px;
        margin: 1px;
    }

    .home__main__section--precio,
    .home__main__section--descuento {
        width: 50%;
    }

    /* FOOTER */

    

    .home__footer__section__article h4 {
        font-size: 20px;
    }

    .home__footer__section__article p{
        font-size: 16px;
    }
}